* {
  box-sizing: border-box;

}

.bg-image-login{
  background-image: url("https://images.unsplash.com/photo-1546717003-caee5f93a9db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=victor-garcia-raesgfwU7iM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

form{
  margin-top: 8rem;
}
.auth-form-group{
  margin-top: 3rem;
}
.auth-password, .auth-username{
  padding-right: .2rem;
}
.btn{
  margin-top: 4rem;
}

.card{
  margin: 0 auto;
  width: 20rem;
  /* use important for background color  */
}

.league-card{
  width: 18rem;
  background-color: #F3D34A!important;
  margin-top: 2rem;
  color: white;
}

.card-img-top{
  height: 10rem;
}


a{
  margin: 0 auto;
}

p{
  font-size: small;
}
body{
  height: 100%;
}


.header{
  font-family: 'Architects Daughter', cursive;
  color: #F3D34A
}

.card-title{
  color: #F3D34A;
}

.team-logo{
  height: 3rem;
  margin-right: 2rem;
}

.league-image{
  height: 6rem;

}

.image-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
