* {
  box-sizing: border-box;

}

.sign-out-image{
  height: 35px;
}


.bg-image-login{
  background-image: url("https://images.unsplash.com/photo-1579952363873-27f3bade9f55?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=connor-coyne-OgqWLzWRSaI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

}

.auth-welcome, .auth-header, .login-message{
  font-family: 'Dosis', cursive;
  color: white;
  font-size: xx-large;
}
.login-link{

  font-size: x-large;
}


form{
  margin-top: 6rem;
}
.auth-form-group{
  margin-top: 3.5rem;
}
.auth-password, .auth-username{
  padding-right: .2rem;
}
.btn{
  margin-top: 4rem;
}

label{
  font-family: 'Dosis', cursive;
  color: white;
}


.league-card{
  width: 18rem;
  margin-top: 2rem;
}

.league-info-header{
  font-family: 'Cinzel', serif;
  position: relative;
  top: 1rem;
}

.england-card{
  color: purple;

}

.card-img-top{
  height: 10rem;
}


a{
  margin: 0 auto;
  cursor: pointer;
}
.link{
  font-size: small;
}

p{
  font-size: small;
}
body{
  height: 100%;
}



.england-title{
  font-family: 'Domine', sans-serif;
  color:#00FFF5;
}
.german-title{
  font-family: 'Domine', sans-serif;
  color: #DF2935;
}
.italy-card{
  color: #6c93c0;
}
.italy-title{
  font-family: 'Domine', sans-serif;
  color: #134074;
}

.france-title{
  font-family: 'Domine', sans-serif;
  color: #BCED09;
}

.france-card{
  color: #134074;
}

.spain-card{
  color: rgb(17, 178, 228);
  height: 37.5rem;
}
.spain-title{
  font-family: 'Domine', sans-serif;
  color: #FE9000;
}

.league-link{
  color: black;
}

.eng-button{
  font-family: 'Domine', sans-serif;
  background-color: #00FFF5;
  color:rgb(212, 77, 212);

}

.ger-button{
  font-family: 'Domine', sans-serif;
  background-color: #DF2935;
  color: white;
}

.ita-button{
  font-family: 'Domine', sans-serif;
  color: white;
  background-color: #134074;
}

.fra-button{
  font-family: 'Domine', sans-serif;
  background-color: #BCED09;
  color: #134074;
}

.spa-button{
  font-family: 'Domine', sans-serif;
  background-color: #FE9000;
  color: black;
  position: relative;
  top: 1.1rem;
}

.team-logo{
  height: 3rem;
  margin-right: 2rem;
}

.league-image{
  height: 10rem;

}

.image-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.col-sm{
  margin-top: 1rem;
}

table{
  max-height: 100%;
}

.england-button{
  cursor: pointer;
  background-color: #3D2B56;
  color: white;
}

.england-header{
  font-family: 'Architects Daughter', cursive;
  color: #3D2B56;
}

.england-table{
  color: #3D2B56;
}

.btn{
  margin-left: .2rem;
}

.germany-button{
  background-color: #DF2935;
  color: white;
}

.german-header{
  color: #DF2935;
  font-family: 'Architects Daughter', cursive;
}
.german-table{
  color: #DF2935;
}
.italy-button{
  color: white;
  background-color: #134074;
}

.italy-table{
  color: #134074;
}

.italy-header{
  color: #134074;
  font-family: 'Architects Daughter', cursive;
}

.france-button{
  background-color: #BCED09;
  color: #134074;
}

.french-header{
  color: #134074;
  font-family: 'Architects Daughter', cursive;
}

.french-table{
  color: #134074;
}

.sixteen{
  background-color: #FE9000;
}
.seventeen{
  background-color: #FFDD4A;
}

.eighteen{
  background-color: rgb(131, 212, 131);
}

.nineteen{
  background-color: rgb(194, 230, 241);
}

.twenty{
  background-color: rgb(212, 77, 212);
}

.spain-header{
  font-family: 'Architects Daughter', cursive;
  color: #FE9000;
}

.login-message{
  margin-bottom: 3rem;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
.login-link{
  position: relative;
  bottom: 2rem;
}
.auth-form{
  position: relative;
  bottom: .8rem;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.bg-image-login{
  background-size: contain;
}
.auth-form{
  position: relative;
  top: 3rem;
}


.login-link{
  position: relative;
  top: 1rem;
}

.italy-card{
  position: relative;
  height: 37.2rem;
}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait){
.auth-form{
  margin-top: 9.5rem;
}
.sign-in{
  position: relative;
  bottom: 5.5rem;

}

.card{
  position: relative;
  left: 2rem;
}
.auth-button{
  position: relative;
  bottom: 2rem;
}

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait){

.sign-in{
  position: relative;
  top: 1.5rem;

}
.login-form{
  position: relative;
  top: 4rem;
}

.login-link{
  position: relative;
  top: .1rem;
}



.card{
  position: relative;
  left: 2rem;
}



}

@media only screen and (min-device-width : 667px)  and (orientation : landscape) {
.bg-image-login{
  height: 100%;
}
.auth-button{
  margin-bottom: 2.5rem;
}
.link{
  color: white;
  position: relative;
  top: 1rem;
}

}
@media only screen and (min-device-width : 1024px) and (min-device-height: 768px)  and (orientation : landscape) {
  .bg-image-login{
    height: 60rem;
}
.auth-form{
  margin-top: 3rem;
}



}


@media only screen and (min-device-width : 1024px) and (min-device-height: 768px)  and (orientation : landscape) {
  .bg-image-login{
    height: 60rem;
  }
  .auth-form{
    margin-top: 4rem;
  }
}


@media only screen and (min-device-width : 414px) and (min-device-height: 736px)  and (orientation : portrait) {
  .auth-form{
    margin-top: 1.4rem;
  }
  .login-message{
    position: relative;
    top: 3rem;
  }
  .login-form{
    position: relative;
    top: 4rem;
  }
}

@media only screen and (min-device-width : 414px) and (min-device-height: 896px)  and (orientation : portrait) {
  .auth-form{
    position: relative;
    top: 3rem;
  }
  .login-link{
    position: relative;
    top: .7rem;
  }

  .card{
  position: relative;
  left: 2.5rem;
}

}

@media only screen and (min-device-width : 1336px) and (min-device-height: 1024px) and (orientation: landscape){
  .auth-form{
    padding-top: 4rem;
  }
  .bg-image-login{
    height: 300rem;

  }

}

@media only screen  and (min-width : 1224px) {
  .auth-form{
    padding-top: 4rem;
  }
  .bg-image-login{
    height: 190vh;
  }
  .auth-header{
    font-size: xx-large;
  }
}

@media only screen  and (min-device-width : 1920px) {
  .auth-form{
    padding-top: 5rem;
  }
  .bg-image-login{
    height: 200vh;
  }
  .auth-header{
    font-size: xx-large;
  }
  .link{
    color: white;
  }
}
@media only screen and (min-device-width : 568px) and (min-device-height: 320px)  and (orientation : landscape) {
  .bg-image-login{
    height: 100%;
  }
}

@media only screen and (min-device-width : 1024px)   and (orientation : landscape) {
.bg-image-login{
  height: 80rem;
}

}

@media only screen and (min-device-width: 736px) and (orientation: landscape){
.league-card{
  position: relative;
  left: 11rem;
}
}

@media only screen and (min-device-width: 667px) and (orientation: landscape){
.league-card{
  position: relative;
  left: 1rem;
}
}

@media only screen and (min-device-width: 568px) and (orientation: landscape){
.league-card{
  position: relative;
  left: 8rem;
}
}

@media only screen and (min-device-width: 812px) and (orientation: landscape){
.league-card{
  position: relative;
  left: 4rem;
}
}

@media only screen and (min-device-width : 414px) and (min-device-height: 896px)  and (orientation : landscape) {
  .bg-image-login{
    height: 60rem;
  }
}

@media only screen and (min-device-width: 1440px) {
  .bg-image-login{
    height: 100rem;
  }
}
